# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [41]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)
rows = insurance_df.shape[0]
colums = insurance_df.shape[1]
print (f"File has {rows} rows and {colums} colums\n")

#print(insurance_df.dtypes)
print(insurance_df.info())

numeric_columns = insurance_df.select_dtypes(include='number')
object_columns = insurance_df.select_dtypes(include='object')

#x = 5
#if isinstance(x, int):
#    print("x is an integer.")

print(insurance_df.head(20)) # See data
# Gender and CLV Have NaN values

print(insurance_df.nunique())
"""Customer                     1071 Categorical
ST                              8    Categorical
GENDER                          5    Categorical
Education                       6    Categorical
Customer Lifetime Value      1027    Numerical
Income                        774    Numerical
Monthly Premium Auto          132    Numerical
Number of Open Complaints       6    Categorical
Policy Type                     3    Categorical
Vehicle Class                   6    Categorical
Total Claim Amount            761    Numerical            """


# how to sanitizr and include CLV?
insurance_df.describe()

# how to select categorical and do statistics??
object_columns.count()

File has 4008 rows and 11 colums

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
   Customer          ST GENDER             Education Customer Lifetime Value  \
0   RB50392  Washington    NaN                Master                     NaN
1   QZ44356     Arizona      F              Bachelor              697953.59%
2   AI49188      Nevada      F              Bachelor             1288743.17%
3   WW63253  California      M              Bachelor              764586.18%
4   GA49547  Washington      M  High School or Below              536307.65%
5   OC83172      Oregon      F              Bachelor              825629.78%
6   XZ87318      Oregon      F               College              538089.86%
7   CF85061     Arizona      M                Master              721610.03%
8   DY87989      Oregon      M              Bachelor             2412750.40%
9   BQ94931      Oregon      F               College              738817.81%
10  SX51350  California      M               College              473899.20%
11  VQ65197  California    NaN               College              819719.71%
12  DP39365  California    NaN                Master              879879.70%
13  SJ95423     Arizona    NaN  High School or Below              881901.89%
14  IL66569  California    NaN               College              538443.17%
15  BW63560      Oregon    NaN              Bachelor              746313.94%
16  FV94802      Nevada    NaN  High School or Below              256686.78%
17  OE15005        Cali    NaN               College              394524.16%
18  WC83389      Oregon    NaN               College              571033.31%
19  FL50705  California    NaN  High School or Below              816261.71%

     Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0       0.0                1000.0                    1/0/00   Personal Auto
1       0.0                  94.0                    1/0/00   Personal Auto
2   48767.0                 108.0                    1/0/00   Personal Auto
3       0.0                 106.0                    1/0/00  Corporate Auto
4   36357.0                  68.0                    1/0/00   Personal Auto
5   62902.0                  69.0                    1/0/00   Personal Auto
6   55350.0                  67.0                    1/0/00  Corporate Auto
7       0.0                 101.0                    1/0/00  Corporate Auto
8   14072.0                  71.0                    1/0/00  Corporate Auto
9   28812.0                  93.0                    1/0/00    Special Auto
10      0.0                  67.0                    1/0/00   Personal Auto
11      0.0                 110.0                    1/0/00   Personal Auto
12  77026.0                 110.0                    1/2/00  Corporate Auto
13  99845.0                 110.0                    1/1/00  Corporate Auto
14  83689.0                  70.0                    1/2/00  Corporate Auto
15  24599.0                  64.0                    1/1/00  Corporate Auto
16  25049.0                  67.0                    1/0/00   Personal Auto
17  28855.0                 101.0                    1/0/00   Personal Auto
18  51148.0                  72.0                    1/0/00   Personal Auto
19  66140.0                 101.0                    1/0/00  Corporate Auto

    Vehicle Class  Total Claim Amount
0   Four-Door Car            2.704934
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
3             SUV          529.881344
4   Four-Door Car           17.269323
5    Two-Door Car          159.383042
6   Four-Door Car          321.600000
7   Four-Door Car          363.029680
8   Four-Door Car          511.200000
9   Four-Door Car          425.527834
10  Four-Door Car          482.400000
11            SUV          528.000000
12  Four-Door Car          472.029737
13            SUV          528.000000
14  Four-Door Car          307.139132
15  Four-Door Car           42.920271
16   Two-Door Car          454.245098
17            SUV          647.442031
18  Four-Door Car          308.981664
19  Four-Door Car          484.800000
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Customer                     1071
ST                           1071
GENDER                        954
Education                    1071
Customer Lifetime Value      1068
Number of Open Complaints    1071
Policy Type                  1071
Vehicle Class                1071
dtype: int64

In [50]:
#name_col = 'ST'
for name_col in insurance_df.select_dtypes(include='object').columns:
    print(f"For the column {name_col} we have the values {insurance_df[name_col].unique()}")
    
for name_col in insurance_df.select_dtypes(include='number').columns:
    print(f"For the column {name_col} we have the min value {insurance_df[name_col].min()} and the max value of {insurance_df[name_col].max()}")

For the column Customer we have the values ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
For the column ST we have the values ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
For the column GENDER we have the values [nan 'F' 'M' 'Femal' 'Male' 'female']
For the column Education we have the values ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
For the column Customer Lifetime Value we have the values [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
For the column Number of Open Complaints we have the values ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
For the column Policy Type we have the values ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
For the column Vehicle Class we have the values ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
For the column Income we have the min value 0.0 and the max value of 99960.0
For the column Monthly Premium Auto we have the min value 61.0 and the max value of 35354.0
For the column Total Claim Amount we have the min value 0.382107 and the max value of 2893.239678

In [52]:
insurance_df.describe(include='object')
# 5 unique values for the gender. need to be cleaned
# Top state Oregon. need to be cleaned
# Most of the policies are personal, is correct

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [54]:
insurance_df['GENDER'].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [55]:
insurance_df['ST'].value_counts()
# Cali is California, so the leading one is California

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [56]:
insurance_df['Policy Type'].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [53]:
insurance_df.describe().round(2)
# Missing income (0) for a lot of values
# Very High Monthly Premium Auto

         Income  Monthly Premium Auto  Total Claim Amount
count   1071.00               1071.00             1071.00
mean   39295.70                193.23              404.99
std    30469.43               1601.19              293.03
min        0.00                 61.00                0.38
25%    14072.00                 68.00              202.16
50%    36234.00                 83.00              354.73
75%    64631.00                109.50              532.80
max    99960.00              35354.00             2893.24

In [58]:
insurance_df.sort_values(by='Income').head(50)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
572,IU47468,Oregon,F,Bachelor,616555.75%,0.0,88.0,1/0/00,Special Auto,Two-Door Car,653.656680
567,WT43034,California,F,High School or Below,1250084.30%,0.0,165.0,1/0/00,Personal Auto,SUV,792.000000
184,AB13432,California,M,Bachelor,373583.81%,0.0,110.0,1/0/00,Personal Auto,SUV,792.000000
565,XS12556,California,F,College,368309.99%,0.0,101.0,1/0/00,Corporate Auto,Sports Car,564.466556
559,SH55671,Arizona,F,College,1141344.12%,0.0,161.0,1/1/00,Personal Auto,Sports Car,772.800000
554,MN94234,California,M,High School or Below,310756.86%,0.0,94.0,1/4/00,Personal Auto,Two-Door Car,451.200000
545,AW73065,Oregon,F,High School or Below,279190.65%,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,532.800000
191,XK33449,California,F,High School or Below,238373.19%,0.0,69.0,1/0/00,Special Auto,Two-Door Car,496.800000
543,MY97912,Arizona,Male,College,1330933.52%,0.0,127.0,1/0/00,Personal Auto,SUV,609.600000
194,EN21086,Arizona,F,High School or Below,688909.80%,0.0,63.0,1/0/00,Personal Auto,Four-Door Car,302.400000
538,OQ61223,California,Male,College,1749752.20%,0.0,73.0,1/0/00,Personal Auto,Two-Door Car,350.400000
537,GK71720,Oregon,F,High School or Below,606434.40%,0.0,86.0,1/0/00,Personal Auto,Four-Door Car,545.240341
198,EH41854,WA,F,High School or Below,2370611.34%,0.0,96.0,1/1/00,Personal Auto,Two-Door Car,844.481918
533,BT30554,Arizona,F,Bachelor,1034632.45%,0.0,98.0,1/0/00,Personal Auto,Four-Door Car,470.400000
574,RB34917,Arizona,F,Bachelor,516211.69%,0.0,73.0,1/0/00,Personal Auto,Four-Door Car,809.532341
531,RD62882,Arizona,F,Bachelor,684615.03%,0.0,95.0,1/0/00,Personal Auto,Two-Door Car,456.000000
523,GE82737,Nevada,F,Bachelor,533735.24%,0.0,86.0,1/3/00,Personal Auto,Four-Door Car,619.200000
203,ZX64745,California,M,College,792313.66%,0.0,113.0,1/0/00,Personal Auto,SUV,1124.427734
204,FL34139,California,M,High School or Below,368811.09%,0.0,63.0,1/3/00,Personal Auto,Four-Door Car,669.682001
205,TS11219,California,M,College,1206745.60%,0.0,116.0,1/0/00,Personal Auto,SUV,1284.093173
522,ZZ97035,California,M,College,2071494.04%,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442
518,ZX23819,Oregon,F,High School or Below,798408.65%,0.0,72.0,1/0/00,Personal Auto,Two-Door Car,866.208321
515,XR70252,California,F,High School or Below,478893.26%,0.0,67.0,1/1/00,Personal Auto,Two-Door Car,321.600000
514,RM41745,California,F,High School or Below,827878.65%,0.0,110.0,1/0/00,Personal Auto,Four-Door Car,1002.782553
513,BX94438,California,F,High School or Below,847003.68%,0.0,113.0,1/0/00,Corporate Auto,SUV,619.973889
502,PX17116,Nevada,M,College,362345.42%,0.0,111.0,1/2/00,Corporate Auto,SUV,1171.931170
501,OS46571,California,M,High School or Below,688955.70%,0.0,66.0,1/0/00,Personal Auto,Four-Door Car,475.200000
497,KA89683,AZ,F,High School or Below,252317.12%,0.0,70.0,1/0/00,Personal Auto,Four-Door Car,504.000000
493,SM73248,AZ,M,High School or Below,1153750.51%,0.0,86.0,1/1/00,Corporate Auto,Two-Door Car,619.200000
487,PH26378,California,M,College,601996.05%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,662.400000
524,KY21873,Arizona,M,College,505082.62%,0.0,69.0,1/0/00,Personal Auto,Two-Door Car,72.852047
180,IU25463,California,F,Bachelor,1225260.18%,0.0,115.0,1/1/00,Personal Auto,Four-Door Car,552.000000
581,PR53785,Arizona,F,High School or Below,745723.78%,0.0,198.0,1/1/00,Personal Auto,Luxury Car,1577.674417
584,KI56154,Nevada,M,High School or Below,904898.34%,0.0,119.0,1/0/00,Personal Auto,Sports Car,571.200000
140,DS81757,Oregon,M,College,247012.12%,0.0,74.0,1/0/00,Personal Auto,Two-Door Car,721.242206
668,TC14209,Arizona,F,High School or Below,909574.46%,0.0,128.0,1/0/00,Personal Auto,SUV,921.600000
142,LP84436,California,F,High School or Below,904711.92%,0.0,127.0,1/0/00,Personal Auto,Sports Car,1087.995426
666,SS59521,Oregon,F,College,477025.66%,0.0,68.0,1/1/00,Personal Auto,Two-Door Car,326.400000
144,LM19287,Oregon,F,High School or Below,373150.46%,0.0,96.0,1/0/00,Personal Auto,Four-Door Car,460.800000
663,WP41146,California,F,High School or Below,534143.88%,0.0,72.0,1/1/00,Personal Auto,Four-Door Car,345.600000
146,AZ82578,California,F,College,792882.93%,0.0,72.0,1/0/00,Corporate Auto,Four-Door Car,345.600000
659,QR45101,Oregon,M,Bachelor,662461.18%,0.0,62.0,1/0/00,Corporate Auto,Two-Door Car,297.600000
304,RR77985,Oregon,F,Bachelor,288774.23%,0.0,80.0,1/0/00,Personal Auto,Four-Door Car,676.944023
655,PI78084,Arizona,M,High School or Below,507732.09%,0.0,73.0,1/0/00,Personal Auto,Two-Door Car,525.600000
652,JH91579,Oregon,F,Bachelor,684615.03%,0.0,95.0,1/0/00,Personal Auto,Two-Door Car,456.000000
649,RA68844,Oregon,M,College,959995.02%,0.0,131.0,1/0/00,Personal Auto,SUV,943.200000
645,JA41698,Nevada,M,Bachelor,309953.80%,0.0,102.0,1/5/00,Corporate Auto,SUV,862.762957
630,FV19421,California,M,Bachelor,778099.93%,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,246.489123
628,AW18068,Arizona,M,High School or Below,946850.93%,0.0,88.0,1/0/00,Personal Auto,Two-Door Car,633.600000

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [59]:
# Your code here
location_series = insurance_df['ST']
loc_freq = location_series.value_counts() # get freq
print(loc_freq.sort_values()[0:5]) # sort amd access first 5 values

location_series = insurance_df['ST'].tail(5).sort_values() # by default 5
location_series

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: ST, dtype: object

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [64]:
# Your code here
policy_type = insurance_df['Policy Type']
policy_freq = policy_type.value_counts() # get freq
print(policy_freq)
print(policy_freq.sort_values()[-1]) # sort amd access first 5 values
#policy_freq.
# Which one?? Futhermore, there is a method that returns the index of the maximum value in a column or row.

insurance_df['Policy Type'].value_counts().idxmax() # get nme of max value

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
780

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [67]:
df.groupby('Policy Type')['Income'].mean()

Policy Type
Corporate Auto    41390.311966
Personal Auto     38180.698718
Special Auto      45954.701754
Name: Income, dtype: float64

In [68]:
filter_corporate = "`Policy Type`=='Corporate Auto' "
corporate_auto = df.query(filter_corporate)

filter_personal = "`Policy Type`=='Personal Auto' "
personal_auto = df.query("`Policy Type`=='Personal Auto' ")

In [69]:
# Your code here
#insurance_df.loc["Policy Type","Personal Auto"]

df = insurance_df

filter_personal = df['Policy Type'] == 'Personal Auto'
personal = df.loc[filter_personal]

filter_corporate = df['Policy Type'] == 'Personal Auto'
corporate = df.loc[filter_corporate]

#personal_auto = insurance_df[ df['Policy Type'] == 'Personal Auto' ]

corporate_auto = df.query("`Policy Type`=='Corporate Auto' ")

personal_auto = df.query("`Policy Type`=='Personal Auto' ")

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [71]:
# Your code here
filter_claim = df['Total Claim Amount'] >= 532.8
df.loc[filter_claim]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [78]:
df.describe().round(2)

         Income  Monthly Premium Auto  Total Claim Amount
count   1071.00               1071.00             1071.00
mean   39295.70                193.23              404.99
std    30469.43               1601.19              293.03
min        0.00                 61.00                0.38
25%    14072.00                 68.00              202.16
50%    36234.00                 83.00              354.73
75%    64631.00                109.50              532.80
max    99960.00              35354.00             2893.24

In [80]:
1071*0.25 # rows by 25% of lines with valid numbers

267.75

In [79]:
df.sort_values('Total Claim Amount',ascending=False,ignore_index=True).loc[:267]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,BZ65376,Arizona,M,Bachelor,858127.87%,27689.0,239.0,1/2/00,Personal Auto,Luxury SUV,2893.239678
1,FO35655,Oregon,M,Bachelor,867222.97%,0.0,245.0,1/0/00,Corporate Auto,Luxury SUV,2345.413441
2,ZZ97035,California,M,College,2071494.04%,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442
3,AZ62651,Oregon,M,High School or Below,995170.77%,56855.0,255.0,1/0/00,Corporate Auto,Luxury SUV,1836.000000
4,PR53785,Arizona,F,High School or Below,745723.78%,0.0,198.0,1/1/00,Personal Auto,Luxury Car,1577.674417
...,...,...,...,...,...,...,...,...,...,...,...
263,KY33386,WA,Femal,High School or Below,800739.94%,0.0,112.0,1/0/00,Personal Auto,Sports Car,537.600000
264,HG39060,Oregon,Male,Bachelor,511068.08%,0.0,74.0,1/0/00,Corporate Auto,Four-Door Car,532.800000
265,AW73065,Oregon,F,High School or Below,279190.65%,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,532.800000
266,OZ97704,California,F,High School or Below,1311752.22%,84311.0,111.0,1/4/00,Personal Auto,SUV,532.800000
267,WU60905,California,F,High School or Below,861066.75%,0.0,111.0,1/0/00,Corporate Auto,SUV,532.800000